[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
flask-wtf = "*"
flask-bcrypt = "*"
flask-principal = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.6"
